.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recommend_moive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.all_movie {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
