.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}
.header {
  height: 60px;
  line-height: 60px;
}

.header > a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(229, 9, 20);
  text-decoration: none;
}

.main {
  padding-top: 10px;
}
